{% extends 'base.html.twig' %}

{% block title %}Hello DeckController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cardFetch.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/card.css')}}" rel="stylesheet" type="text/css" />
    
{% endblock %}

{% block body %}

<main class="p-12 flex flex-col w-full gap-4">    
    <h1>{{ deck.name }}! ✅</h1>
    <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-2">
    {% for card in deck.deckList|split('\n') %}
        <p class="card"> {{ card }} </p>
    {% endfor %}
    </div>
</main>
{% endblock %}

